@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.banner_area {
  background-color: #CED9DA;
  padding-top: 100px;

  .text {
    padding-right: 60px;

    .title {
      @include font(60px, 700);
      line-height: 68px;
      margin-bottom: 20px;
    }

    .subtitle {
      @include font(18px, 500);
      margin-bottom: 30px;
      color: $black;
    }
  }
}