@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.discover_collection {
  padding-top: 80px;

  .icon {
    width: 40px;
    height: 40px;
    border: 1px solid $border;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    transition: $transition;
    cursor: pointer;
    position: absolute;
    top: -90px;

    &:hover {
      border-color: $black;
    }
  }

  .icon.left {
    right: 376px;
  }

  .icon.right {
    right: 316px;
  }
}

.discover_collection_item {
  margin: 0 2px;
  border: 1px solid $border;

  .image {
    overflow: hidden;

    img {
      transition: $transition;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  .text {
    padding: 22px;

    .title {
      @include font(18px, 700);
      color: $black;
      text-transform: uppercase;
    }

    span {
      @include font(14px, 700);
      text-transform: uppercase;
      color: $black;
      margin-top: 10px;

      i {
        margin-left: 10px;
      }
    }
  }
}