@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.featured_area {
  margin-top: 80px;
  background: transparent;
  padding: 60px 0;

  .featured_item {
    padding-right: 15px;
    display: flex;

    .icon {
      flex: 0 0 auto;
      margin-right: 20px;
      i{
        font-size: 20px
      }
    }

    .text {
      .title {
        @include font(16px, 700);
        margin-bottom: 8px;
        text-transform: uppercase;
      }
    }
  }
}