@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.header_area {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .close_top_header {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    color: $white;
    z-index: 9;
  }

  .top_header {
    .slider_one {
      height: 40px;
      background-color: #90917C;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: $white;
        @include font(14px, 600);
      }
    }

    .slider_two {
      height: 40px;
      background-color: #B17842;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: $white;
        @include font(14px, 600);
      }

      ul {
        li {
          display: inline-block;
          margin: 0 15px;

          a {
            color: $white;
            @include font(14px, 600);
            text-transform: uppercase;
            position: relative;

            &::before {
              position: absolute;
              top: 3px;
              right: -17px;
              width: 1px;
              height: 15px;
              background-color: $white;
              opacity: 0.7;
              content: "";
            }
          }

          &:last-child {
            a {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  nav {
    // padding-top: 35px;
    padding: 20px 0;
    background-color: transparent;
    transition: $transition;

    &:hover {
      background-color: $white;
    }

    .nav-item {
      margin-left: 20px;

      .nav-link {
        @include font(14px, 700);
        text-transform: uppercase;

        i {
          margin-right: 4px;
        }
      }

      .sale {
        color: #d30000;
      }

      &:hover {
        .nav-link {
          color: $paragraph;
        }
      }
    }

    .menu_right_option {
      li {
        display: inline-block;
        margin-left: 24px;

        a,
        button {
          color: $black;
          background-color: transparent;
          border: 0;
          @include font(17px, 700);
        }

        .language {
          font-size: 16px;
        }
      }
    }
  }
}