@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";


.close_top_header {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  color: $white;
  z-index: 9;
}

.top_header {
  position: relative;
  z-index: 999;

  .slider_one {
    height: 40px;
    background-color: #90917C;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $white;
      @include font(14px, 600);
    }
  }

  .slider_two {
    height: 40px;
    background-color: #B17842;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $white;
      @include font(14px, 600);
    }

    ul {
      li {
        display: inline-block;
        margin: 0 15px;

        a {
          color: $white;
          @include font(14px, 600);
          text-transform: uppercase;
          position: relative;

          &::before {
            position: absolute;
            top: 3px;
            right: -17px;
            width: 1px;
            height: 15px;
            background-color: $white;
            opacity: 0.7;
            content: "";
          }
        }

        &:last-child {
          a {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.header_area {
  height: auto;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 999;

  nav {
    // padding-top: 35px;
    padding: 0px 0;
    background-color: transparent;
    transition: $transition;
    position: relative;

    &:hover {
      background-color: $white;
    }

    .nav-item {
      margin-left: 20px;

      .sub_menu_one {
        width: 100%;
        background-color: #F2F0E8;
        position: absolute;
        top: 96px;
        left: 0;
        padding: 50px 100px;
        transform-origin: top;
        transform: perspective(400px) rotateX(-22deg);
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        .sub_menu_item_label {
          &:first-child {
            .sub_menu_item {
              padding-left: 0;
            }
          }

          &:last-child {
            .sub_menu_item {
              padding-right: 0;

              &::before {
                display: none;
              }
            }
          }
        }

        .sub_menu_item {
          padding: 0 12px;
          position: relative;
          height: 100%;

          &::before {
            position: absolute;
            top: 0;
            right: -24px;
            content: "";
            width: 1px;
            height: 100%;
            background-color: $border;
          }
        }

        .text {
          margin-bottom: 24px
        }

        .title {
          @include font(15px, 800);
          text-transform: uppercase;
          margin-bottom: 10px
        }

        ul {
          li {
            a {
              @include font(15px, 400);
              color: $black;
              margin-bottom: 4px;

              &:hover {
                color: $paragraph;
              }
            }
          }
        }

        .view_all {
          @include font(13px, 700);
          text-transform: uppercase;
          color: $black;

          &:hover {
            color: $paragraph;
          }
        }

        .image_title {
          @include font(16px, 700);
          text-transform: uppercase;
          color: $black;
          margin-top: 15px;

          &:hover {
            color: $paragraph;
          }
        }
      }

      &:hover {
        .sub_menu_one {
          visibility: visible;
          opacity: 1;
          transform: unset
        }
      }

      .nav-link {
        @include font(14px, 700);
        text-transform: uppercase;
        line-height: 80px;

        i {
          margin-right: 4px;
        }
      }

      .sale {
        color: #d30000;
      }

      &:hover {
        .nav-link {
          color: $paragraph;
        }
      }
    }

    .menu_right_option {
      li {
        display: inline-block;
        margin-left: 26px;

        a,
        button {
          color: $black;
          background-color: transparent;
          border: 0;
          @include font(17px, 700);
        }

        .language {
          font-size: 16px;
        }
      }

      .shopping_bag {
        position: relative;

        span {
          background-color: $white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 11px;
          position: absolute;
          top: -5px;
          right: -15px;
          border: 1px solid $border;
        }
      }
    }
  }
}


.sticky-menu {
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  background-color: var(--white);
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 2px 20px rgba(25, 25, 25, 0.1);
  border-radius: 0;
}

.sticky-menu .menu-area {
  margin-top: 0;
}

.sticky-menu.header_area {
  background-color: $white;
}

.sticky-menu.header_area nav .nav-link {
  line-height: 70px;
}

.sticky-menu.header_area .sub_menu_one {
  top: 80px !important;
}

#header-fixed-height.active-height {
  display: block;
  height: 100px;
}